PORT=5000
DATABASE_URL="postgresql://postgres:26072022@localhost:1937/pizzatown"
JWT_SECRET=52aad34c2e41ff0127910339c8d42d6791af1c72dd24fdb57d011b284d3b5dd1
NODE_ENV=production
PRINTNODE_API_KEY=uMmDqFBxFSM8NAztYVmStB6oMAimEENkjfwKVUk8hew

